<div class="match">
  <h1><strong><%= @match %></strong> <%= @status %></h1>
</div>

<div class="teams">
<%= for team <- @teams do %>
  <div class="team <%= @statuses[team] %>"><%= team %></div>
<% end %>
</div>
